.navigation__contactsHeader {
  padding: 0 10px;
  margin: 0;

  font-weight: 500;
  line-height: 1;
  font-size: 18px;
  color: rgb(33, 42, 19);
  text-align: center;
}

.navigation__contactsList {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 5px;
  padding: 10px;
}

.navigation__contactsList a {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0%;
  display: block;
  padding: 0;
  text-align: center;
  padding: 5px;
}

.navigation__contactsList a:hover {
  background-color: aliceblue;
}

.navigation__contactsList p {
  margin: 0;
}

.navigation__contactsList img {
  margin: 0 auto;
  width: 70%;
  aspect-ratio: 1/1;
  height: auto;
  margin-bottom: 10px;
}
