.dialogs__message {
  background-color: rgba(215, 222, 250, 0.5);
  padding: 20px;
  width: fit-content;
  box-shadow: 0px 6px 15px -10px #00000080;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  position: relative;
}

.dialogs__message::after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: '';
  bottom: 0;
  left: -10px;
  background-color: rgba(215, 222, 250, 0.5);
  border-top-left-radius: 100%;
}
