@import '../../../styles/vars.scss';

.myposts {
  background-color: $color-default-white;
}

// .myposts__addBlock {}

.myposts__addForm {
  display: grid;
  grid-template-columns: 1fr auto;

  position: relative;
}

.myposts__addinput {
  padding: 15px 20px;
  width: 100%;

  font-size: 16px;
  outline: none;
  border: none;
}

.myposts__error {
  position: absolute;
  top: -20px;
  right: 0;
  border: 1px solid $color-default-contrast-2;
  border-radius: 10px;
  padding: 5px;
  color: $color-default-contrast-1;
  background-color: $color-default-white;
}

.myposts__addButton {
  padding: 10px;

  color: $color-default-contrast-2;
  transition: all 0.2s ease-in-out;
  font-size: 24px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $color-default-contrast-1;
    transform: rotate(-90deg);
  }
}

// .myposts__posts {}
