@import '../../../styles/vars';

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.author__avatar {
  border-radius: 50%;
  object-fit: cover;
}

.author__name {
  font-weight: 500;
  color: $color-default-white;
}

.author__logoutButton {
  padding: 2px;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 700;
  
  border: none;
  cursor: pointer;
}
