.userProfile {
  height: 100%;

  display: flex;
  align-items: center;
}

.userProfile__returnLink {
  padding: 5px 10px;

  display: inline-block;
  align-self: flex-start;

  color: aliceblue;
  text-decoration: none;

  background-color: rgba(25, 58, 47, 0.6);
  transition: all 0.2s ease-in;

  &:hover {
    background-color: rgba(25, 58, 47, 0.8);
  }
}

.userProfile__info {
  padding: 20px;
  margin: 0 auto;

  height: auto;
  max-width: 90%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.userProfile__image {
  height: auto;
  
  aspect-ratio: 1/1;
  object-fit: cover;
}

.userProfile__data {
  display: flex;
  flex-direction: column;
}

.userProfile__key {
  font-weight: normal;
}

.userProfile__value {
  font-weight: 700;
  text-transform: capitalize;
}

.userProfile__id {
  margin-left: auto;
}

.userProfile__jobSearch {
  color: darkred;
}

.userProfile__socials {
  display: flex;
  gap: 5px;
}
