// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-contrast-1: #e00056;
$color-default-contrast-2: #0b005d;

// Fonts
$fz-default: 16px;

// Breakpoints
$vp-320: 320px;
$vp-768: 768px;
$vp-1120: 1120px;
$vp-1440: 1440px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
