// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-contrast: #fe9514;

$color-dark-1: #111111;
$color-dark-2: #333333;
$color-dark-3: #575757;
$color-dark-4: #333e48;

$color-light-1: #f3f3f4;
$color-light-2: #e1e1e1;
$color-light-3: #ebebec;
$color-light-4: #e0e0e0;
$color-light-5: #c4c4c4;

// Fonts
$fz-default: 16px;
$ff-gilroy: "Gilroy", "Arial", sans-serif;
$ff-nekst: "Nekst", "Arial", sans-serif;

// Breakpoints
$vp-320: 320px;
$vp-768: 768px;
$vp-1120: 1120px;
$vp-1440: 1440px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
