@import '../../styles/vars';

.logo__link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: $color-default-white;
}

.logo__link img {
  padding: 5px;
  background: radial-gradient(circle, rgba($color-default-white, 1) 40%, rgba($color-default-white, 0) 100%);
  border-radius: 50%;
}

.logo__text {
  margin: 0;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__textPrimary {
  text-transform: uppercase;
  font-weight: 900;
  color: $color-default-contrast-1;
  text-shadow: 0 0 4px $color-default-white;
}

.logo__textSecondary {
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 500;
  color: $color-default-contrast-2;
}
