.users__pagination {
  margin-bottom: 10px;
  
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.users__pagination span {
  padding: 10px;
  
  width: 40px;
  height: 40px;
  
  color: aliceblue;
  text-align: center;
  
  background-color: rgba(25, 58, 47, 0.6);
  border-radius: 5px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.users__pagination span:hover {
  background-color: rgba(25, 58, 47, 0.8);
}

.users__selectedPage {
  font-weight: 600;
  background-color: rgba(25, 58, 47, 0.8) !important;
}
