.navigation {
  height: 100%;
  grid-area: n;

  background: linear-gradient(180deg, rgba(112,79,143,0.8) 0%, rgba(169,176,0,0.5) 100%);
  /* background-color: rgba(231, 193, 251, 0.467); */
  overflow: hidden;
}

.navigation ul {
  list-style: none;
}

.navigation__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
