.navigation {
  height: 100%;
  grid-area: n;

  background-color: rgba(231, 193, 251, 0.5);
}

.navigation ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style: none;
}

.item a {
  padding: 15px;

  width: 100%;

  display: flex;
  justify-content: center;
  text-decoration: none;
  
  color: rgb(40, 0, 77);
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.item a:hover,
.item a.active {
  background-color: aliceblue;
}

.active,
.isActive {
  color: aqua;
}

.item a.active,
.item a.isActive {
  background-color: aliceblue;
  color: rgb(0, 255, 51);
}

.link {
  background-color: aqua;
  font-weight: 700;
}
