@import '../../../styles/vars.scss';

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

// .status__text {}

// .status__input {}

.status__button {
  width: 20px;
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
