@import '../../styles/vars';

.header {
  padding: 0 20px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  background-color: $color-default-white;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__login a {
  margin-left: auto;
  padding: 10px;

  max-width: 100%;
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: 500;
  color: $color-default-contrast-1;

  background-color: $color-default-white;
  border-radius: 5px;
}
