@import '../../styles/vars';

.header {
  padding: 10px 20px;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  

  background: rgba($color-default-black, 0.4);
}

.header__login {
  display: flex;
  align-items: center;
}

.header__login a {
  margin-left: auto;
  padding: 10px;

  max-width: 100%;
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: 500;
  color: $color-default-contrast-1;

  background-color: $color-default-white;
  border-radius: 5px;
}
