.profileInfo {
  margin-bottom: 10px;
}

.profileInfo > img {
  margin-bottom: 10px;
}

.profileInfo__description {
  display: flex;
  gap: 20px;
  background-color: rgba(205, 209, 202, 0.433);
}

.profileInfo__ava img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}
