.profileInfo {
  background-color: rgba(232, 235, 229, 0.433);
  margin-bottom: 10px;
  /* box-shadow: 0px 6px 15px -10px #00000075; */
}

.profileInfo > img {
  margin-bottom: 10px;
}

.profileInfo__description {
  display: flex;
  gap: 10px;
}

.profileInfo__ava img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
