@import '../../../../styles/vars.scss';

.post {
  padding: 20px;
  margin-bottom: 5px;

  box-shadow: 0 10px 20px -25px $color-default-contrast-2;
}

// header
.post__header {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.post__headerImage {
  display: flex;
  align-items: center;
}

.post__headerImage img {
  border-radius: 50%;
}

// .post__headerBio {}

.post__login {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

// .post__date {}

// // body
.post__body {
  margin-bottom: 20px;
}

.post__message {
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

// // footer
// .post__footer {}

.post__likeButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
