.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
  column-gap: 40px;
}

.dialogs__header {
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  grid-column: 1/-1;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.458);
}

.dialogs ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.dialogs__contactsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialogs__messagesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
