@import '../../../styles/vars';

.item a {
  padding: 15px;

  width: 100%;

  display: flex;
  justify-content: center;
  text-decoration: none;
  
  color: $color-default-white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

  &:hover,
  &.active {
    box-shadow: 0 -3px 0 0 $color-default-contrast-1 inset;
  }
}
